spring:
  application:
    name: financeiro-api
    datasource:
      url: jdbc:postgresql://postgres:5432/findb
      username: postgres87
      password: postgres8725
  profiles:
    active: dev  # dev | qa | prod

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    org.springframework: INFO


